body{
    text-align: center;
}
.projectContainer{
    display: inline-block!important;
    justify-content: center;
    max-width: 80%;
    grid-template-columns: 10px 10px;
}
.midDiv{
    width: 25px;
    height: 25px;
}
.card{
    display:table-cell;
}
img{
    width: 200px;
    height: 200px;
}
.col{
    padding: 20px;
}