/* .aboutImg {
    max-width: 100%;
    height: "auto";
} */
.aboutItem{
    align-self: center;
    width: auto;
    height: auto;
    background: linear-gradient(#e0f2f1, #80cbc4, #26a69a)!important;
}
@media screen and (min-width: 769px) {
    .aboutItem{
        margin-left: 300px;
        width: 600px;
        height: 285px;
    }
  }
